<main class="container">
  <h1>Welcome to Your Angular OneSignal App</h1>
  <p>
    Edit <code>src/app/app.component.ts</code> and save to reload.<br />
    Replace <code>&lt;YOUR_APP_ID&gt;</code> with your OneSignal app id.
  </p>
  <h3>Essential Links</h3>
  <ul>
    <li>
      <a href="https://angular.dev" target="_blank" rel="noopener">Angular</a>
    </li>
    <li>
      <a
        href="https://documentation.onesignal.com/docs/web-push-quickstart"
        target="_blank"
        rel="noopener"
        >OneSignal Web Push</a
      >
    </li>
  </ul>
</main>
